NEXT_PUBLIC_APP_NAME="App name"
BASE_URL="https://crm.localhost"
NEXT_PUBLIC_CONTACT_EMAIL="email@email.com"

NEXTAUTH_URL="https://crm.localhost"
# npx auth secret
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET=""

DATABASE_URL="postgresql://admin:password@localhost:5432/crm"

VAPID_PUBLIC_KEY="vapid-public-key"
VAPID_PRIVATE_KEY="vapid-private-key"

ADMIN_EMAIL="admin@gmail.com"

NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

EMAIL_SERVER="smtp.gmail.com"
EMAIL_SERVER_PORT="587"
EMAIL_SERVER_USER=""
EMAIL_SERVER_PASSWORD=""
EMAIL_FROM='Dev <dev@email.com>'

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

GEMINI_API_KEY=""

TWITTER_CONSUMER_KEY=""
TWITTER_CONSUMER_SECRET=""
TWITTER_ACCESS_TOKEN=""
TWITTER_BEARER_TOKEN=""
TWITTER_ACCESS_TOKEN_SECRET=""

FACEBOOK_PAGE_ACCESS_TOKEN="your_facebook_page_access_token"
FACEBOOK_PAGE_ID="your_facebook_page_id"

INSTAGRAM_USER_ID="your_instagram_user_id"
INSTAGRAM_ACCESS_TOKEN="your_instagram_access_token"

# REDIS_URL="redis://redis:6379"
REDIS_URL="redis://localhost:6379/0"

NEXT_PUBLIC_SHOP_FRONTEND="https://shop.localhost"
