@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
    --color-sage: var(--sage);
    --color-green-eco: var(--green-eco);
    --color-gray-dark: var(--gray-dark);
    --color-gray-md: var(--gray-md);
    --color-gray-light: var(--gray-light);
    --color-white-cream: var(--white-cream);
    --color-blue-cornflower: var(--blue-cornflower);
    --color-yellow-clay: var(--clay-yellow);
    --color-background: hsl(var(--background));
    --color-content: var(--content);

    --radius-50: 50%;
    --radius-1xl: 0.875rem;
    --radius-top-corners: 5px 5px 0 0;
    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --border-width-1: 1px;
    --border-width-3: 3px;

    --shadow-small: var(--box-shadow-small);
    --shadow-medium: var(--box-shadow-medium);
    --shadow-large: var(--box-shadow-large);

    --text-xxs: 0.625rem;
    --text-xxs--line-height: 0.875;

    --font-sans: var(--font-inter);
    --font-display: var(--font-lexend);

    --ease-custom-ease: cubic-bezier(0.6, 0.05, 0.15, 0.95);

    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: hsl(var(--secondary));
    --color-secondary-foreground: hsl(var(--secondary-foreground));

    --color-muted: hsl(var(--muted));
    --color-muted-foreground: hsl(var(--muted-foreground));

    --color-border: hsl(var(--border));
    --color-divider: hsl(var(--divider));

    --color-card: hsl(var(--card));
    --color-card-foreground: hsl(var(--card-foreground));

    --color-popover: hsl(var(--popover));
    --color-popover-foreground: hsl(var(--popover-foreground));

    --color-accent: hsl(var(--accent));
    --color-accent-foreground: hsl(var(--accent-foreground));

    --color-destructive: hsl(var(--destructive));
    --color-destructive-foreground: hsl(var(--destructive-foreground));

    --color-input: hsl(var(--input));
    --color-ring: hsl(var(--ring));

    --color-chart-1: hsl(var(--chart-1));
    --color-chart-2: hsl(var(--chart-2));
    --color-chart-3: hsl(var(--chart-3));
    --color-chart-4: hsl(var(--chart-4));
    --color-chart-5: hsl(var(--chart-5));

    --animate-blob: blob 15s infinite;
    --animate-blob-delayed: blob 15s infinite 2s;
    --animate-spinner-ease-spin: spinner-spin 0.8s ease infinite;
    --animate-spinner-linear-spin: spinner-spin 0.8s linear infinite;

    --container-8xl: 88rem;
    --container-9xl: 96rem;

    @keyframes blob {
        0% {
            transform: translate(0, 0) scale(1);
        }
        33% {
            transform: translate(30px, -50px) scale(1.1);
        }
        66% {
            transform: translate(-20px, 20px) scale(0.9);
        }
        100% {
            transform: translate(0, 0) scale(1);
        }
    }
    @keyframes spinner-spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    @keyframes shimmer {
        100% {
            content: var(--tw-content);
            transform: translateX(100%);
        }
    }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@layer utilities {
    html {
        margin: 0;
        width: 100%;
    }

    body {
        font-family: "Outfit", sans-serif;
    }
}

:root {
    --bg: #f8fafc;
    --bg-100: #f5f5f5;
    --bg-200: #ffffff;
    --bg-300: #d6d6d6;
    --bg-400: #dddddd;
    --content: #ffffff;
    --primary: #22c55e;
    --secondary: #16a34a;
    --accent: #4ade80;
    --default: #121212;
    --default-100: #4a4a4a;
    --default-200: #757575;
    --default-blue: #007bff;
    --default-teal: #00bfa6;
    --default-orange: #ff9800;

    --primary: #2563eb;
    --primary-foreground: #ffffff;


    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
}
.dark {
    --bg: #121212;
    --bg-100: #1e1e1e;
    --bg-200: #222222;
    --bg-300: #333333;
    --bg-400: #2c2c2c;
    --content: #1e1e1e;
    --primary: #4ade80;
    --secondary: #22c55e;
    --accent: #86efac;
    --default: #ffffff;
    --default-100: #b3b3b3;
    --default-200: #808080;
    --default-blue: #4a90e2;
    --default-teal: #00bfa6;
    --default-orange: #ff9800;

    --primary: #3b82f6;
    --primary-foreground: #ffffff;

    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
}

@layer utilities {
    .transition-background {
        transition-property: background;
        transition-timing-function: ease;
        transition-duration: 0.25s;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
